In [1]:
import pickle
import pandas as pd

In [2]:
!ls

2020.03.07_WOTUS_modeling.ipynb
2021.03.17_Merge_all_datasets.ipynb
2021.03.20_full_dataset
2021.03.23_full_dataset.zip
2021.03.31_Merge_all_datasets.ipynb
2021.04.01_Train_Test1_Test2_Splits.ipynb
2021.04.01_test1_dataset
2021.04.01_test2_dataset
2021.04.01_train_dataset
2021.04.03_Merge_all_datasets_cwr_nwpr.ipynb
2021_03_19_WOTUS_restart_v6.ipynb
2021_03_20_WOTUS_restart_v7.ipynb
2021_03_21_WOTUS_TTTsplit_v26.ipynb
2021_03_21_WOTUS_TTTsplit_v27.ipynb
2021_03_21_WOTUS_TTTsplit_v28-SSS.ipynb
2021_03_21_WOTUS_TTTsplit_v28.ipynb
2021_03_21_WOTUS_TTTsplit_v29-SSS.ipynb
2021_03_21_WOTUS_v10.ipynb
2021_03_21_WOTUS_v11.ipynb
2021_03_21_WOTUS_v12.ipynb
2021_03_21_WOTUS_v13.ipynb
2021_03_21_WOTUS_v14.ipynb
2021_03_21_WOTUS_v15.ipynb
2021_03_21_WOTUS_v17.ipynb
2021_03_21_WOTUS_v18.ipynb
2021_03_21_WOTUS_v19.ipynb
2021_03_21_WOTUS_v20.ipynb
2021_03_21_WOTUS_v25.ipynb
2021_03_21_WOTUS_v8.ipynb
2021_03_21_WOTUS_v9.ipynb
Untitled.ipynb
__pycache__
combined_regular_clean_with_ssurgo_variables.csv
optimize_ppv_npv_scorer_.py
random_search_fitted_models_v10
random_search_fitted_models_v10.1
random_search_fitted_models_v10.1_rerun
random_search_fitted_models_v10.2
random_search_fitted_models_v10.2_rerun
random_search_fitted_models_v10_rerun
random_search_fitted_models_v11
random_search_fitted_models_v12
random_search_fitted_models_v13
random_search_fitted_models_v13.1
random_search_fitted_models_v13.2
random_search_fitted_models_v15
random_search_fitted_models_v16
random_search_fitted_models_v18
random_search_fitted_models_v18g
random_search_fitted_models_v21
random_search_fitted_models_v22
random_search_fitted_models_v22.1
random_search_fitted_models_v23
random_search_fitted_models_v24
random_search_fitted_models_v24_repeat
random_search_fitted_models_v25
random_search_fitted_models_v26
random_search_fitted_models_v28-SSS
random_search_fitted_models_v28-SSS2
random_search_fitted_models_v6
random_search_fitted_models_v7
random_search_fitted_models_v7.1
random_search_fitted_models_v8
random_search_fitted_models_v8g
random_search_fitted_models_v9
random_search_fitted_models_v9.1
random_search_fitted_models_v9.2
random_search_fitted_models_v9.3
random_search_fitted_models_v9.4
random_search_fitted_models_v9.5
random_search_fitted_models_v9.5_r2
random_search_fitted_models_v9.5_r3
random_search_fitted_models_v9.6
random_search_fitted_models_v9.6_r2
untitled.txt
untitled1.txt

In [3]:
# Baseline
df_baseline = pd.read_csv("../../../data/Merge_all_datasets/combined_regular_clean_with_ssurgo_variables.csv")

# NHD
df_nhd_200m = pd.read_pickle("../../../data/Merge_all_datasets/200mX200m_nhd_variables_extracted_stripped")
df_nhd_1000m = pd.read_pickle("../../../data/Merge_all_datasets/1000mX1000m_nhd_variables_extracted_stripped")
df_nhd_2500m = pd.read_pickle("../../../data/Merge_all_datasets/2.5kmX2.5km_nhd_variables_extracted_stripped")

# NHD - nearest waterbodies and flowlines
df_nearest_wotus = pd.read_pickle("../../../data/Merge_all_datasets/nearest_wb_fl_elevation_parts_merged")

# SSURGO
df_ssurgo = pd.read_pickle("../../../data/Merge_all_datasets/2021.03.19_ssurgo_variables_full")

# NWI
df_nwi_200m = pd.read_pickle("../../../data/Merge_all_datasets/nwi_extracted_features_200X200m")
df_nwi_1000m = pd.read_pickle("../../../data/Merge_all_datasets/nwi_extracted_features_1000X1000m")
df_nwi_2500m = pd.read_pickle("../../../data/Merge_all_datasets/nwi_extracted_features_2500X2500m")

# srtm, slope, jrc
df_srtm_200m = pd.read_pickle("../../../data/Merge_all_datasets/df_srtm_slope_variables_200m")
df_srtm_1000m = pd.read_pickle("../../../data/Merge_all_datasets/df_srtm_slope_variables_1000m")
df_srtm_2500m = pd.read_pickle("../../../data/Merge_all_datasets/df_srtm_slope_variables_2500m")

# county
df_county = pd.read_pickle("../../../data/Merge_all_datasets/2021.03.17_us_county_raw")

# HUC
df_huc4 = pd.read_pickle("../../../data/Merge_all_datasets/2021.03.22_huc4")
df_huc6 = pd.read_pickle("../../../data/Merge_all_datasets/2021.03.22_huc6")

In [4]:
# Baseline
full_columns = list(df_baseline.columns)
delete_columns = ['Unnamed: 0', 'Unnamed: 0.1','index','mukey',
       'hydclprs', 'aws025wta', 'drclassdcd',  'project_name']

imp_columns = list(set(full_columns) - set(delete_columns))
df_baseline = df_baseline[imp_columns]
df_baseline.columns

Index(['cwa9', 'cwa8', 'potential_wetland', 'cwa4', 'rha_determination',
       'da_number', 'Index', 'cwa3', 'cwa2', 'cwa_determination', 'district',
       'longitude', 'cwa1', 'date_issued_or_denied', 'cwa7', 'rha2', 'cwa6',
       'jurisdiction_type', 'latitude', 'rha1', 'cwa5'],
      dtype='object')

In [5]:
# SSURGO
set(df_ssurgo.columns)

delete_columns = ['Unnamed: 0',
 'Unnamed: 0.1',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'cwa_determination',
 'da_number',
 'date_issued_or_denied',
 'district','fl_areasqkm_count_200m',
 'fl_areasqkm_count_2500m',
 'fl_areasqkm_mean_200m',
 'fl_areasqkm_mean_2500m',
 'fl_areasqkm_sum_200m',
 'fl_areasqkm_sum_2500m',
 'fl_comid_list_200m',
 'fl_comid_list_2500m',
 'fl_comid_str_200m',
 'fl_comid_str_2500m',
 'fl_divergence_count_200m',
 'fl_divergence_count_2500m',
 'fl_divergence_mean_200m',
 'fl_divergence_mean_2500m',
 'fl_divergence_sum_200m',
 'fl_divergence_sum_2500m',
 'fl_flow_type_count_200m',
 'fl_flow_type_count_2500m',
 'fl_flow_type_mean_200m',
 'fl_flow_type_mean_2500m',
 'fl_flow_type_sum_200m',
 'fl_flow_type_sum_2500m',
 'fl_ftype_str_200m',
 'fl_ftype_str_2500m',
 'fl_ftype_str_list_200m',
 'fl_ftype_str_list_2500m',
 'fl_gnis_id_list_200m',
 'fl_gnis_id_list_2500m',
 'fl_gnis_id_str_200m',
 'fl_gnis_id_str_2500m',
 'fl_gnis_name_ind_count_200m',
 'fl_gnis_name_ind_count_2500m',
 'fl_gnis_name_ind_mean_200m',
 'fl_gnis_name_ind_mean_2500m',
 'fl_gnis_name_ind_sum_200m',
 'fl_gnis_name_ind_sum_2500m',
 'fl_intephem_count_200m',
 'fl_intephem_count_2500m',
 'fl_intephem_mean_200m',
 'fl_intephem_mean_2500m',
 'fl_intephem_sum_200m',
 'fl_intephem_sum_2500m',
 'fl_length_count_200m',
 'fl_length_count_2500m',
 'fl_length_list_200m',
 'fl_length_list_2500m',
 'fl_length_mean_200m',
 'fl_length_mean_2500m',
 'fl_length_sum_200m',
 'fl_length_sum_2500m',
 'fl_startflag_count_200m',
 'fl_startflag_count_2500m',
 'fl_startflag_mean_200m',
 'fl_startflag_mean_2500m',
 'fl_startflag_sum_200m',
 'fl_startflag_sum_2500m',
 'fl_streamorde_count_200m',
 'fl_streamorde_count_2500m',
 'fl_streamorde_mean_200m',
 'fl_streamorde_mean_2500m',
 'fl_streamorde_sum_200m',
 'fl_streamorde_sum_2500m',
 'fl_totdasqkm_count_200m',
 'fl_totdasqkm_count_2500m',
 'fl_totdasqkm_mean_200m',
 'fl_totdasqkm_mean_2500m',
 'fl_totdasqkm_sum_200m',
 'fl_totdasqkm_sum_2500m','index',
 'jurisdiction_type',
 'latitude',
 'longitude','nhd_vars_fl_200m',
 'nhd_vars_fl_2500m',
 'nhd_vars_wb_200m',
 'nhd_vars_wb_2500m','potential_wetland',
 'project_name',
 'rha1',
 'rha2',
 'rha_determination','wb_area_count_200m',
 'wb_area_count_2500m',
 'wb_area_list_200m',
 'wb_area_list_2500m',
 'wb_area_mean_200m',
 'wb_area_mean_2500m',
 'wb_area_sum_200m',
 'wb_area_sum_2500m',
 'wb_comid_list_200m',
 'wb_comid_list_2500m',
 'wb_comid_str_200m',
 'wb_comid_str_2500m',
 'wb_ftype_str_200m',
 'wb_ftype_str_2500m',
 'wb_ftype_str_list_200m',
 'wb_ftype_str_list_2500m',
 'wb_gnis_id_list_200m',
 'wb_gnis_id_list_2500m',
 'wb_gnis_id_str_200m',
 'wb_gnis_id_str_2500m',
 'wb_gnis_name_ind_count_200m',
 'wb_gnis_name_ind_count_2500m',
 'wb_gnis_name_ind_mean_200m',
 'wb_gnis_name_ind_mean_2500m',
 'wb_gnis_name_ind_sum_200m',
 'wb_gnis_name_ind_sum_2500m']

full_columns = list(df_ssurgo.columns)
imp_columns = list(set(full_columns) - set(delete_columns))
df_ssurgo = df_ssurgo[imp_columns]
df_ssurgo

,niccdcdpct,engdwbdcd,mukey,engstafml,engdwbll,flodfreqdc,flodfreqma,slopegradd,engsldcd,slopegradw,...,engdwbml,engstafdcd,drclasswet,engstafll,englrsdcd,urbrecptdc,hydclprs,aws050wta,awmmfpwwta,engsldcp
0,80.0,Very limited,289404.0,Very limited,Not rated,None,None,1.0,Very limited,1.0,...,Very limited,Very limited,Very poorly drained,Not rated,Very limited,Very limited,100.0,14.33,1.0,Very limited
1,100.0,Not rated,293511.0,Not rated,Not rated,NaN,NaN,0.0,Not rated,0.0,...,Not rated,Not rated,NaN,Not rated,Not rated,Not rated,0.0,0.00,0.0,Not rated
2,100.0,Not rated,295436.0,Not rated,Not rated,NaN,NaN,0.0,Not rated,0.0,...,Not rated,Not rated,NaN,Not rated,Not rated,Not rated,0.0,0.00,0.0,Not rated
3,75.0,Very limited,290780.0,Very limited,Not rated,None,None,2.0,Very limited,2.0,...,Very limited,Very limited,Moderately well drained,Not rated,Somewhat limited,Somewhat limited,5.0,3.75,1.0,Very limited
4,89.0,Very limited,293019.0,Very limited,Very limited,None,None,1.0,Very limited,1.0,...,Very limited,Very limited,Poorly drained,Very limited,Very limited,Very limited,93.0,9.17,1.0,Very limited
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14614,90.0,Very limited,564873.0,Very limited,Not rated,None,None,2.0,Very limited,2.0,...,Very limited,Very limited,Somewhat poorly drained,Not rated,Very limited,Somewhat limited,10.0,11.00,1.0,Very limited
14615,100.0,Not limited,566474.0,Somewhat limited,Not limited,None,None,5.0,Somewhat limited,5.0,...,Not limited,Somewhat limited,Well drained,Somewhat limited,Somewhat limited,Somewhat limited,0.0,8.10,1.0,Somewhat limited
14616,90.0,Very limited,106656.0,Very limited,Somewhat limited,None,None,15.0,Very limited,14.0,...,Very limited,Very limited,Somewhat excessively drained,Very limited,Very limited,Somewhat limited,0.0,5.44,1.0,Very limited
14617,89.0,Very limited,384352.0,Very limited,Not rated,None,None,4.0,Somewhat limited,4.0,...,Very limited,Very limited,Well drained,Not rated,Very limited,Somewhat limited,0.0,8.70,1.0,Somewhat limited
14618,90.0,Not limited,383437.0,Very limited,Not limited,None,None,2.0,Somewhat limited,2.0,...,Not rated,Very limited,Well drained,Not rated,Somewhat limited,Somewhat limited,0.0,7.36,1.0,Somewhat limited

In [6]:
# NHD
full_columns_200m = list(df_nhd_200m.columns)
full_columns_1000m = list(df_nhd_1000m.columns)
full_columns_2500m = list(df_nhd_2500m.columns)
full_columns
delete_columns_200m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_200m',
       'nhd_vars_fl_200m', 'wb_comid_list_200m', 'wb_ftype_str_list_200m',
       'wb_gnis_id_list_200m', 'wb_area_list_200m', 'fl_comid_list_200m',
       'fl_ftype_str_list_200m', 'fl_gnis_id_list_200m', 'fl_length_list_200m',
                 'wb_comid_str_200m', 'wb_ftype_str_200m', 'wb_gnis_id_str_200m',
                 'fl_comid_str_200m', 'fl_ftype_str_200m',
       'fl_gnis_id_str_200m','fl_ftype_str_vector_200m',
       'wb_ftype_str_vector_200m']

delete_columns_1000m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_1000m',
       'nhd_vars_fl_1000m', 'wb_comid_list_1000m', 'wb_ftype_str_list_1000m',
       'wb_gnis_id_list_1000m', 'wb_area_list_1000m', 'fl_comid_list_1000m',
       'fl_ftype_str_list_1000m', 'fl_gnis_id_list_1000m', 'fl_length_list_1000m',
                 'wb_comid_str_1000m', 'wb_ftype_str_1000m', 'wb_gnis_id_str_1000m',
                 'fl_comid_str_1000m', 'fl_ftype_str_1000m',
       'fl_gnis_id_str_1000m','fl_ftype_str_vector_1000m',
       'wb_ftype_str_vector_1000m']

delete_columns_2500m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_2500m',
       'nhd_vars_fl_2500m', 'wb_comid_list_2500m', 'wb_ftype_str_list_2500m',
       'wb_gnis_id_list_2500m', 'wb_area_list_2500m', 'fl_comid_list_2500m',
       'fl_ftype_str_list_2500m', 'fl_gnis_id_list_2500m', 'fl_length_list_2500m',
                 'wb_comid_str_2500m', 'wb_ftype_str_2500m', 'wb_gnis_id_str_2500m',
                 'fl_comid_str_2500m', 'fl_ftype_str_2500m',
       'fl_gnis_id_str_2500m','fl_ftype_str_vector_2500m',
       'wb_ftype_str_vector_2500m']

imp_columns_200m = list(set(full_columns_200m) - set(delete_columns_200m))
imp_columns_1000m = list(set(full_columns_1000m) - set(delete_columns_1000m))
imp_columns_2500m = list(set(full_columns_2500m) - set(delete_columns_2500m))

df_nhd_200m = df_nhd_200m[imp_columns_200m]
df_nhd_1000m = df_nhd_1000m[imp_columns_1000m]
df_nhd_2500m = df_nhd_2500m[imp_columns_2500m]

In [7]:
# NHD nearest waterbodies and flowlines

full_columns = list(df_nearest_wotus.columns)
full_columns
delete_columns = ['Unnamed: 0',
 'Unnamed: 0.1',
 'jurisdiction_type',
 'da_number',
 'district',
 'project_name',
 'longitude',
 'latitude',
 'date_issued_or_denied',
 'rha_determination',
 'cwa_determination',
 'rha1',
 'rha2',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'potential_wetland',
 'index',
 'mukey',
 'hydclprs',
 'aws025wta',
 'drclassdcd',
 'nhd_vars_wb_centroid',
 'nhd_vars_fl_centroid',
 'wb_centroid_dist_list',
 'fl_centroid_dist_list',
 'wb_min_index',
 'fl_min_index', 'closest_wb_centroid_coord', 'closest_fl_centroid_coord']
imp_columns = list(set(full_columns) - set(delete_columns))
df_nearest_wotus = df_nearest_wotus[imp_columns]
df_nearest_wotus

,closest_wb_distance_m,closest_fl_distance_m,Index,closest_fl_area_sqkm,closest_wb_area_sqkm,closest_fl_elevation,closest_wb_elevation
0,0.19900,1.55869,1,0.1170,0.006,114.000000,434.326797
1,7.21302,0.48290,2,1.4841,207.005,112.000000,112.000000
2,0.82916,0.47677,3,1.1124,3.329,413.000000,413.000000
3,0.78709,1.04919,4,13.9392,0.004,188.535948,187.210526
4,NaN,0.84081,5,0.4644,NaN,98.506494,NaN
...,...,...,...,...,...,...,...
14614,1.26976,1.12851,14615,0.8316,0.135,73.600000,75.573529
14615,NaN,1.04087,14616,5.5170,NaN,302.007194,NaN
14616,1.36894,2.45195,14617,13.1337,0.055,179.000000,174.378571
14617,NaN,0.43727,14618,0.7866,NaN,335.000000,NaN
14618,1.44951,0.35953,14619,3.6135,0.014,413.036496,404.065693

In [8]:
# NWI
full_columns_200m = list(df_nwi_200m.columns)
full_columns_1000m = list(df_nwi_1000m.columns)
full_columns_2500m = list(df_nwi_2500m.columns)


delete_columns_200m = ['CLASS_NAME_vector_200m',
 'FIRST_MODIFIER_NAME_vector_200m',
 'SPLIT_CLASS_NAME_vector_200m',
 'SPLIT_SUBCLASS_NAME_vector_200m',
 'SUBCLASS_NAME_vector_200m',
 'SUBSYSTEM_NAME_vector_200m',
 'SYSTEM_NAME_vector_200m',
 'Unnamed: 0',
 'Unnamed: 0.1',
 'WATER_REGIME_NAME_vector_200m',
 'WATER_REGIME_SUBGROUP_vector_200m',
 'aws025wta',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'cwa_determination',
 'da_number',
 'date_issued_or_denied',
 'district',
 'drclassdcd',
 'hydclprs',
 'index',
 'jurisdiction_type',
 'latitude',
 'longitude',
 'mukey','nwi_attr_list_200m',
 'nwi_bbox_vars_200m','potential_wetland',
 'project_name',
 'rha1',
 'rha2',
 'rha_determination',
 'wetland_type_vector_200m']


delete_columns_1000m = ['CLASS_NAME_vector_1000m',
 'FIRST_MODIFIER_NAME_vector_1000m',
 'SPLIT_CLASS_NAME_vector_1000m',
 'SPLIT_SUBCLASS_NAME_vector_1000m',
 'SUBCLASS_NAME_vector_1000m',
 'SUBSYSTEM_NAME_vector_1000m',
 'SYSTEM_NAME_vector_1000m',
 'Unnamed: 0',
 'Unnamed: 0.1',
 'WATER_REGIME_NAME_vector_1000m',
 'WATER_REGIME_SUBGROUP_vector_1000m',
 'aws025wta',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'cwa_determination',
 'da_number',
 'date_issued_or_denied',
 'district',
 'drclassdcd',
 'hydclprs',
 'index',
 'jurisdiction_type',
 'latitude',
 'longitude',
 'mukey','nwi_attr_list_1000m',
 'nwi_bbox_vars_1000m','potential_wetland',
 'project_name',
 'rha1',
 'rha2',
 'rha_determination',
 'wetland_type_vector_1000m']


delete_columns_2500m = ['CLASS_NAME_vector_2500m',
 'FIRST_MODIFIER_NAME_vector_2500m',
 'SPLIT_CLASS_NAME_vector_2500m',
 'SPLIT_SUBCLASS_NAME_vector_2500m',
 'SUBCLASS_NAME_vector_2500m',
 'SUBSYSTEM_NAME_vector_2500m',
 'SYSTEM_NAME_vector_2500m',
 'Unnamed: 0',
 'Unnamed: 0.1',
 'WATER_REGIME_NAME_vector_2500m',
 'WATER_REGIME_SUBGROUP_vector_2500m',
 'aws025wta',
 'cwa1',
 'cwa2',
 'cwa3',
 'cwa4',
 'cwa5',
 'cwa6',
 'cwa7',
 'cwa8',
 'cwa9',
 'cwa_determination',
 'da_number',
 'date_issued_or_denied',
 'district',
 'drclassdcd',
 'hydclprs',
 'index',
 'jurisdiction_type',
 'latitude',
 'longitude',
 'mukey','nwi_attr_list_2500m',
 'nwi_bbox_vars_2500m','nwi_feature_count_2500m','potential_wetland',
 'project_name',
 'rha1',
 'rha2',
 'rha_determination',
 'wetland_type_vector_2500m']

imp_columns_200m = list(set(full_columns_200m) - set(delete_columns_200m))
imp_columns_1000m = list(set(full_columns_1000m) - set(delete_columns_1000m))
imp_columns_2500m = list(set(full_columns_2500m) - set(delete_columns_2500m))

df_nwi_200m = df_nwi_200m[imp_columns_200m]
df_nwi_1000m = df_nwi_1000m[imp_columns_1000m]
df_nwi_2500m = df_nwi_2500m[imp_columns_2500m]

In [9]:
# SRTM, JRC

full_columns_200m = list(df_srtm_200m.columns)
full_columns_1000m = list(df_srtm_1000m.columns)
full_columns_2500m = list(df_srtm_2500m.columns)


delete_columns_200m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'elevation_stats_200m',
       'slope_stats_200m', 'seasonality_stats_200m', 'recurrence_stats_200m',
       'transition_hist', ]

delete_columns_1000m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'elevation_stats_1000m',
       'slope_stats_1000m', 'seasonality_stats_1000m', 'recurrence_stats_1000m',
       'transition_hist', ]



df_srtm_2500m.columns
delete_columns_2500m = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'elevation_stats_2500m',
       'slope_stats_2500m', 'seasonality_stats_2500m',
       'recurrence_stats_2500m', 'transition_hist', ]

imp_columns_200m = list(set(full_columns_200m) - set(delete_columns_200m))
imp_columns_1000m = list(set(full_columns_1000m) - set(delete_columns_1000m))
imp_columns_2500m = list(set(full_columns_2500m) - set(delete_columns_2500m))

df_srtm_200m = df_srtm_200m[imp_columns_200m]
df_srtm_1000m = df_srtm_1000m[imp_columns_1000m]
df_srtm_2500m = df_srtm_2500m[imp_columns_2500m]

In [10]:
# County, State

full_columns = list(df_county.columns)

delete_columns = ['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd',]


imp_columns = list(set(full_columns) - set(delete_columns))

df_county = df_county[imp_columns]
df_county.columns

Index(['Index', 'state', 'county'], dtype='object')

In [11]:
# huc
full_columns = list(df_huc6.columns)
imp_columns = ['Index', 'huc6']
df_huc6 = df_huc6[imp_columns]
df_huc6

       Index    huc6
0          1  041402
1          2  041402
2          3  041300
3          4  041201
4          5  041300
...      ...     ...
14614  14615  111102
14615  14616  110100
14616  14617  110701
14617  14618  110500
14618  14619  111203

[14619 rows x 2 columns]

In [12]:
# huc
full_columns = list(df_huc4.columns)
imp_columns = ['Index', 'huc4']
df_huc4 = df_huc4[imp_columns]
df_huc4

       Index  huc4
0          1  0414
1          2  0414
2          3  0413
3          4  0412
4          5  0413
...      ...   ...
14614  14615  1111
14615  14616  1101
14616  14617  1107
14617  14618  1105
14618  14619  1112

[14619 rows x 2 columns]

In [13]:
# full dataset

df1 = df_baseline
df2 = df_ssurgo

df3 = df_srtm_200m
df4 = df_nhd_200m
df5 = df_nwi_200m

df6 = df_srtm_2500m
df7 = df_nhd_2500m
df8 = df_nwi_2500m

df9 = df_county

df10 = df_nearest_wotus

df11 = df_huc4
df12 = df_huc6

df13 = df_srtm_1000m
df14 = df_nhd_1000m
df15 = df_nwi_1000m

df_merged = pd.merge(df1, df2, on="Index")
df_merged = pd.merge(df_merged, df3, on="Index")
df_merged = pd.merge(df_merged, df4, on="Index")
df_merged = pd.merge(df_merged, df5, on="Index")
df_merged = pd.merge(df_merged, df6, on="Index")
df_merged = pd.merge(df_merged, df7, on="Index")
df_merged = pd.merge(df_merged, df8, on="Index")
df_merged = pd.merge(df_merged, df9, on="Index")
df_merged = pd.merge(df_merged, df10, on="Index")
df_merged = pd.merge(df_merged, df11, on="Index")
df_merged = pd.merge(df_merged, df12, on="Index")
df_merged = pd.merge(df_merged, df13, on="Index")
df_merged = pd.merge(df_merged, df14, on="Index")
df_merged = pd.merge(df_merged, df15, on="Index")
pickle.dump(df_merged, open("../../../data/Merge_all_datasets/2021.03.31_full_dataset","wb"), protocol=3)

In [14]:
# 200m and 1000m dataset

df1 = df_baseline
df2 = df_ssurgo

df3 = df_srtm_200m
df4 = df_nhd_200m
df5 = df_nwi_200m

# df6 = df_srtm_2500m
# df7 = df_nhd_2500m
# df8 = df_nwi_2500m

df9 = df_county

df10 = df_nearest_wotus

df11 = df_huc4
df12 = df_huc6

df13 = df_srtm_1000m
df14 = df_nhd_1000m
df15 = df_nwi_1000m

df_merged = pd.merge(df1, df2, on="Index")
df_merged = pd.merge(df_merged, df3, on="Index")
df_merged = pd.merge(df_merged, df4, on="Index")
df_merged = pd.merge(df_merged, df5, on="Index")
# df_merged = pd.merge(df_merged, df6, on="Index")
# df_merged = pd.merge(df_merged, df7, on="Index")
# df_merged = pd.merge(df_merged, df8, on="Index")
df_merged = pd.merge(df_merged, df9, on="Index")
df_merged = pd.merge(df_merged, df10, on="Index")
df_merged = pd.merge(df_merged, df11, on="Index")
df_merged = pd.merge(df_merged, df12, on="Index")
df_merged = pd.merge(df_merged, df13, on="Index")
df_merged = pd.merge(df_merged, df14, on="Index")
df_merged = pd.merge(df_merged, df15, on="Index")
pickle.dump(df_merged, open("../../../data/Merge_all_datasets/2021.03.31_200m_1000m","wb"), protocol=3)

In [15]:
# 1000m and 2500m dataset

df1 = df_baseline
df2 = df_ssurgo

# df3 = df_srtm_200m
# df4 = df_nhd_200m
# df5 = df_nwi_200m

df6 = df_srtm_2500m
df7 = df_nhd_2500m
df8 = df_nwi_2500m

df9 = df_county

df10 = df_nearest_wotus

df11 = df_huc4
df12 = df_huc6

df13 = df_srtm_1000m
df14 = df_nhd_1000m
df15 = df_nwi_1000m

df_merged = pd.merge(df1, df2, on="Index")
# df_merged = pd.merge(df_merged, df3, on="Index")
# df_merged = pd.merge(df_merged, df4, on="Index")
# df_merged = pd.merge(df_merged, df5, on="Index")
df_merged = pd.merge(df_merged, df6, on="Index")
df_merged = pd.merge(df_merged, df7, on="Index")
df_merged = pd.merge(df_merged, df8, on="Index")
df_merged = pd.merge(df_merged, df9, on="Index")
df_merged = pd.merge(df_merged, df10, on="Index")
df_merged = pd.merge(df_merged, df11, on="Index")
df_merged = pd.merge(df_merged, df12, on="Index")
df_merged = pd.merge(df_merged, df13, on="Index")
df_merged = pd.merge(df_merged, df14, on="Index")
df_merged = pd.merge(df_merged, df15, on="Index")
pickle.dump(df_merged, open("../../../data/Merge_all_datasets/2021.03.31_1000m_2500m","wb"), protocol=3)

In [16]:
df_merged.shape

(14619, 494)

# Read file

In [17]:
# df = pd.read_pickle("2021.03.31_full_dataset")

In [18]:
set(df.columns)

NameError: name 'df' is not defined

In [ ]:
import numpy as np
np.sum(df_merged.dtypes == 'int64') #340
np.sum(df_merged.dtypes == 'object') # 10
np.sum(df_merged.dtypes == 'float64') #107

In [ ]:
df.niccdcd

In [ ]:
df.shape

In [ ]:
df.loc[:, ["county", "state"]]

In [ ]:
df.head()

In [ ]:
# set(df.columns)

In [ ]:
df.shape